<div >
    <button type="button" class="close pull-right" aria-hidden="true" data-dojo-attach-event="click:close">&times;</button>
    <div data-dojo-attach-point='content' class="container-fluid"></div>
    <div data-dojo-attach-point='authorizedContent' class="row">
        <form >
            <input type='hidden' name="blmid" />
            <div class="col-xs-12 col-sm-6 col-md-6">
                <a href="#" data-dojo-attach-point='existingSubmit' target="_blank" class="btn btn-default">Submit Existing Sheet</a>
            </div>
        </form>
        <form >
            <input type='hidden' name="blmid" />
            <div class="col-xs-12 col-sm-6 col-md-6">
                <a href="#" data-dojo-attach-point='newSubmit' target="_blank" class="btn btn-primary">Submit Corner Data</a>
            </div>
        </form>
    </div>
</div>