<div class='contract-popup'>
    {{^item}}
    <h3 class="text-center">There is no existing corner here.
    </h3>
    {{/item}}
    {{#item}}
    <div class="row" id="moreThanOneRow">
        <div class="col-xs-12 col-sm-offset-2 col-sm-3">
            <h4>Multiple Corners</h4>
        </div>
        <div class="col-xs-12 col-sm-5">
            <select class="form-control" id="blmIdNumbers">
                {{#options}}
                <option>{{.}}</option>
                {{/options}}
            </select>
        </div>
    </div>
    <div class='row'>
        <div class='col-xs-6 col-sm-3 col-md-3'>
            <h4>Tie Sheet Document</h4>
            <p class='text-muted'>{{#tiesheet}}{{TieSheet_Name}}{{/tiesheet}}</p>
        </div>
        <div class='col-xs-6 col-sm-3 col-md-3'>
            <h4>Corner Id</h4>
            <p class='text-muted'>{{Corner Point Identifier}}</p>
        </div>
        <div class='col-xs-6 col-sm-3 col-md-3'>
            <h4>Point Label</h4>
            <p class='text-muted'>{{Corner Point Label}}</p>
        </div>
        <div class='col-xs-6 col-sm-3 col-md-3'>
            <h4>PLSS Id</h4>
            <p class='text-muted'>{{PLSS Area Identification}}</p>
        </div>
    </div>
    <div class='row'>
        <div class='col-xs-6 col-sm-3 col-md-3'>
            <h4>Elevation</h4>
            <p class='text-muted'>{{Average Township Elevation}}</p>
        </div>
        <div class='col-xs-6 col-sm-3 col-md-3'>
            <h4>Error North</h4>
            <p class='text-muted'>{{Error in Y}}</p>
        </div>
        <div class='col-xs-6 col-sm-3 col-md-3'>
            <h4>Error East</h4>
            <p class='text-muted'>{{Error in X}}</p>
        </div>
        <div class='col-xs-6 col-sm-3 col-md-3'>
            <h4>Location</h4>
            <p class='text-muted'>{{LAT_NAD83}}<br/>{{LONG_NAD83}}</p>
        </div>
    </div>
    {{/item}}