version: 2
updates:
  - package-ecosystem: npm
    directory: /
    schedule:
      interval: quarterly
    groups:
      safe-app-dependencies:
        update-types:
          - minor
          - patch
      major-app-dependencies:
        update-types:
          - major
        exclude-patterns:
          - firebase
    commit-message:
      prefix: deps
      prefix-development: deps(dev)
    cooldown:
      default-days: 10
      semver-major-days: 60
      semver-minor-days: 14
      semver-patch-days: 7
      exclude:
        - '@ugrc/*'
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: quarterly
    groups:
      ci-dependencies:
        dependency-type: production
    cooldown:
      default-days: 10
      exclude:
        - agrc/*
