rules_version = '2';
service cloud.firestore {
  function isAuthenticated() {
    return request.auth != null;
  }

  match /databases/{database}/documents {
    function isAuthorized() {
      return exists(/databases/$(database)/documents/submitters/$(request.auth.uid)) &&
         get(/databases/$(database)/documents/submitters/$(request.auth.uid)).data.elevated == true;
    }

    match /submissions/{document=**} {
      allow read, update: if isAuthenticated() && isAuthorized();
    }

    match /stats/{document=**} {
      allow read, update: if isAuthenticated() && isAuthorized();
    }
  }
}
