rules_version = '2';
service cloud.firestore {
  function isAuthenticated() {
    return request.auth != null;
  }
  function isCurrentUser(uid) {
    return request.auth.uid == uid;
  }

  match /databases/{database}/documents {
    match /submitters/{uid}/points/{docId} {
      allow delete: if isAuthenticated() && isCurrentUser(uid);
    }
  }
}
