rules_version = '2';
// rules cascade. If any rule passes the action is allowed
service firebase.storage {
  function isCurrentUser(uid) {
    return request.auth != null && request.auth.uid == uid;
  }
  function lessThan(megabytes) {
    return request.resource != null && request.resource.size < (megabytes * 1024 * 1024);
  }
  function isImage() {
    return request.resource.contentType.matches('image/.*');
  }
  function noDeletes() {
    return request.resource != null;
  }
  match /b/{bucket}/o {
    match /{allPaths=**} {
      allow read, write: if false;
    }

    match /submitters/{uid}/{allPaths=**} {
      allow read: if isCurrentUser(uid);
      allow write: if isCurrentUser(uid) && lessThan(5) && noDeletes() && isImage();
    }
  }
}
