rules_version = '2';
service firebase.storage {
  function isAuthenticated() {
    return request.auth != null;
  }
  function isCurrentUser(uid) {
    return request.auth.uid == uid;
  }
  function lessThan(megabytes) {
    return request.resource != null && request.resource.size < (megabytes * 1024 * 1024);
  }
  function isImage() {
    return request.resource.contentType.matches('image/png') ||
        request.resource.contentType.matches('image/jpeg') ||
        request.resource.contentType.matches('image/jpg') ||
        request.resource.contentType.matches('image/gif');
  }
  function isPdf() {
    return request.resource.contentType.matches('application/pdf');
  }
  function hasAttachment() {
    return request.resource != null;
  }

  match /b/{bucket}/o {
    match /submitters/{uid}/new/{allPaths=**} {
      allow list, delete: if false;
      allow get: if isAuthenticated() && isCurrentUser(uid);
      allow create, update: if isAuthenticated() && isCurrentUser(uid) && hasAttachment() && isImage() && lessThan(5);
    }
    match /submitters/{uid}/existing/{allPaths=**} {
      allow list, delete: if false;
      allow get: if isAuthenticated() && isCurrentUser(uid);
      allow create, update: if isAuthenticated() && isCurrentUser(uid) && hasAttachment() && isPdf() && lessThan(5);
    }
    match /tiesheets/{allPaths=**} {
      allow list: if true;
      allow get: if true;
      allow create, update, delete: if false;
    }
  }
}
