@using PLSS.Extensions

<link rel='stylesheet' href='~/src/app/resources/App.css'>
@Html.ErrorBox(TempData)

<div data-dojo-type='app/App'></div>

<!-- JAVASCRIPT -->
<script data-dojo-config="isDebug: 1,parseOnLoad: 0" src="plss/src/dojo/dojo.js"> </script>  
<script src='~/src/app/App.js'> </script>