@using PLSS.Extensions
@model PLSS.Models.ViewModel.AssetsViewModel

@foreach (var style in Model.Css)
{
    @Html.Raw(style)
}
@Html.ErrorBox(TempData)

<div data-dojo-type='app/App'></div>

<!-- JAVASCRIPT -->
@foreach (var script in Model.Scripts)
{
    @Html.Raw(script)
}
