@using PLSS.Extensions

<link rel='stylesheet' href='~/src/app/resources/App.css'>
@Html.ErrorBox(TempData)

<div data-dojo-type='app/App'></div>

<!-- JAVASCRIPT -->
<script src='~/src/app/run.js'> </script>