@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  @apply flex h-screen overflow-hidden font-sans bg-gray-100;
  /* https://css-tricks.com/the-trick-to-viewport-units-on-mobile/ */
  height: calc(var(--vh, 1vh) * 100);
}

.app {
  grid: [map] 1fr [drawer] 60% [menu] 76px / [map] 1fr;
}

.menu {
  grid-area: menu/map;
}

.agrc__map {
  grid-area: map/map/menu;
}

.drawer {
  grid-area: drawer/map/menu;
  will-change: transform;
  transition: transform 1.5s cubic-bezier(0.16, 1, 0.3, 1);
}

.drawer--closed {
  transform: translateY(100vh);
}

@media (min-width: 640px) {
  .app {
    grid: [menu] 1fr / [menu] 95px [map] 1fr;
  }
  .menu {
    @apply flex-col;
    grid-area: menu;
  }
  .drawer {
    grid-area: menu;
    width: 320px;
  }
  .drawer--closed {
    transform: translateX(-100%);
  }
  .menu {
    will-change: transform;
    transition: transform 1.5s cubic-bezier(0.16, 1, 0.3, 1);
  }
  .menu--open {
    transform: translateX(320px);
  }
}

.react-tabs {
  @apply flex flex-col flex-1 overflow-hidden;
  -webkit-tap-highlight-color: transparent;
}

.react-tabs__tab-list {
  @apply flex p-0 mb-4 justify-evenly;
}

.react-tabs__tab {
  @apply relative inline-block w-full px-4 pt-2 font-bold list-none border-b-2 border-gray-100 cursor-pointer whitespace-nowrap;
}

.react-tabs__tab--selected {
  @apply font-bold border-b-2 border-indigo-300;
}

.react-tabs__tab:focus {
  outline: none;
}

.react-tabs__tab-panel {
  @apply hidden;
}

.react-tabs__tab-panel--selected {
  @apply block overflow-y-auto;
}

.toggle-checkbox:checked {
  @apply right-0 border-indigo-400;
}

.toggle-checkbox:checked + .toggle-label {
  @apply bg-indigo-400;
}

.esri-view .esri-view-surface--inset-outline:focus::after {
  @apply outline-none;
}
