<div class="row">
    <div class="col-sm-6 form-group">
        <label for="CornerSubmission.Grid.HorizontalUnits" class="control-label">Horizontal Units</label>
        <select class="form-control" name="CornerSubmission.Grid.HorizontalUnits" data-required="true">
            <option>US Survey Feet</option>
            <option>International Feet</option>
            <option selected="selected">Meters</option>
        </select>
    </div>
    <div class="col-sm-6 form-group">
        <label for="CornerSubmission.Grid.Adjustment" class="control-label">NGS Adjustment</label>
        <select class="form-control" name="CornerSubmission.Grid.Adjustment" data-required="true">
            <option value="NGS1996">NGS 1996</option>
            <option>NGS 2007</option>
            <option>NGS 2011</option>
        </select>
    </div>
</div>
<div class="row">
    <div class="col-sm-4 form-group">
        <label for="CornerSubmission.Grid.Northing" class="control-label">Northing</label>
        <input type="text" class="form-control" name="CornerSubmission.Grid.Northing" data-required="true"/>
    </div>
    <div class="col-sm-4 form-group">
        <label for="CornerSubmission.Grid.Easting" class="control-label">Easting</label>
        <input type="text" class="form-control"  name="CornerSubmission.Grid.Easting" data-required="true" />
    </div>
    <div class="col-sm-4 form-group">
        <label for="CornerSubmission.Grid.Elevation" class="control-label">NAVD88 Elevation</label>
        <input type="text" class="form-control"  name="CornerSubmission.Grid.Elevation" data-required="true" />
    </div>
</div>