@import "../../dijit/themes/claro/claro.css";

@import "../../esri/css/esri.css";

@import "../../agrc/resources/map/BaseMap.css";

@import "../../agrc/resources/map/BaseMapSelector.css";

@import "../../agrc/resources/locate/FindAddress.css";

@import "../../agrc/resources/locate/MagicZoom.css";

body, html {
    overflow: hidden;
    width: 100%;
    height: 100%
}

.app, .agrc-container, .map-div {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden
}

.navbar .navbar-brand {
    font-weight: bold;
    font-size: 25px;
    color: white;
    max-width: 350px
}

.navbar {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=97)";
    filter: alpha(opacity=97);
    opacity: 0.975
}

.app .navbar-nav > .dropdown > .dropdown-menu { padding: 15px }

.app .dropdown-menu .control-group { margin: 0 }

.app .corners { width: 150px }

.app .trssearch { z-index: 100 }

.app .zoom-to-coordinate {
    width: 250px;
}

.app .esriSimpleSlider { top: 60px }

.agrc.TR .selectorMain { top: 60px }

.dijitPopup.dijitComboBoxMenuPopup, .dijitPopup.dijitComboBoxMenuPopup, .dijitPopup.dijitMenuPopup { z-index: 1001 !important }

.navbar {
    min-height: 25px;
    z-index: 31
}

.closed {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    display: none
}

.contract-popup {
    color: white;
    text-align: left;
    width: 100%;
    z-index: 11
}

.esriControlsBR { z-index: 10 }

.trssearch { width: 200px }

.close {
    position: absolute;
    right: 8px;
    z-index: 50
}

.unavailable { background-color: #fa0 }

.available { background-color: #c500ff }

.pending {
    background-color: #ff0;
    color: #777
}