@import 'tailwindcss';

@theme {
  --animate-gradient-x: gradient-x 5s ease infinite;
  --animate-ping-slow: ping 2.5s cubic-bezier(0, 0, 0.2, 1) infinite;

  @keyframes gradient-x {
    0%,
    100% {
      background-size: 200% 200%;
      background-position: left center;
    }
    50% {
      background-size: 200% 200%;
      background-position: right center;
    }
  }
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

body {
  @apply flex h-screen overflow-hidden bg-gray-100 font-sans;
  /* https://css-tricks.com/the-trick-to-viewport-units-on-mobile/ */
  height: calc(var(--vh, 1vh) * 100);
}

.app {
  grid: [map] 1fr [drawer] 60% [menu] 76px / [map] 1fr;
}

.menu {
  grid-area: menu/map;
}

.ugrc__map {
  grid-area: map/map/menu;
}

.drawer {
  grid-area: drawer/map/menu;
  will-change: transform;
  transition: transform 1.5s cubic-bezier(0.16, 1, 0.3, 1);
}

.drawer--closed {
  transform: translateY(100vh);
}

@media (min-width: 640px) {
  .app {
    grid: [menu] 1fr / [menu] 95px [map] 1fr;
  }
  .menu {
    @apply flex-col;
    grid-area: menu;
  }
  .drawer {
    grid-area: menu;
    width: 450px;
  }
  .drawer--closed {
    transform: translateX(-100%);
  }
  .menu {
    will-change: transform;
    transition: transform 1.5s cubic-bezier(0.16, 1, 0.3, 1);
  }
  .menu--open {
    transform: translateX(450px);
  }
}

.u {
  fill: #331c38;
}
.t {
  fill: #4d2a54;
}
.a {
  fill: #2a515e;
}
.h {
  fill: #386b7d;
}
.g {
  fill: #bd9955;
}
.i {
  fill: #eaca00;
}
.s {
  fill: #f7ea99;
}

.esri-view .esri-view-surface:focus:after {
  @apply outline-hidden;
}
